{% extends 'base.html.twig' %}

{% block title %}Flashcard index{% endblock %}

{% block body %}
    <h1>Flashcard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Difficulty</th>
                <th>User</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flashcard in flashcards %}
            <tr>
                <td>{{ flashcard.question }}</td>
                <td>{{ flashcard.answer }}</td>
                <td>
                    {% if flashcard.difficulty == 1 %}
                        Simple
                    {% elseif flashcard.difficulty == 2 %}
                        Average
                    {% elseif flashcard.difficulty == 3 %}
                        Hard
                    {% else %}
                        {{ flashcard.difficulty }}
                    {% endif %}
                </td>
                <td>{{ flashcard.user.firstName }} {{ flashcard.user.lastName }}</td>
                <td>{{ flashcard.category.name }}</td>
                <td>
                    <a href="{{ path('app_flashcard_show', {'id': flashcard.id}) }}">show</a>
                    <a href="{{ path('app_flashcard_edit', {'id': flashcard.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_flashcard_new') }}">Create new</a>
{% endblock %}